In [1]:
import pandas as pd
from mapboxgl.utils import *
from mapboxgl.viz import * 
import os
import html

In [2]:
df = pd.read_csv("Master2.csv")

In [3]:
df.head()

,zipcode,latitude,longitude,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,35004,33.601525,-86.489546,2,3,5,5,0,4,1,3,2,5,0
1,35005,33.604745,-87.042439,1,5,4,3,2,0,4,5,1,3,2
2,35006,33.429346,-87.202099,1,3,4,4,3,3,3,1,5,4,4
3,35007,33.228822,-86.791901,4,3,2,5,0,4,1,3,2,5,0
4,35010,32.944644,-85.910009,1,5,3,0,2,0,4,5,1,3,2

In [4]:
data = df_to_geojson(df, filename="Master.geojson",
             properties=['zipcode','2005','2006','2007','2008',
                         '2009','2010','2011','2012','2013','2014','2015'],
             lat='latitude',lon='longitude', precision=5)