In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
import numpy as np

In [3]:
dfYear = pd.read_csv("fixx2007zip.csv")

In [4]:
#df07['agi_stub'].value_counts().max() - df07['agi_stub'].value_counts().min()
dfYear['agi_stub'].value_counts()

6    29715
1    29715
4    29714
3    29714
5    29713
2    29713
Name: agi_stub, dtype: int64

In [22]:
#dfYear['zipcode'].value_counts()
dfYear.loc[dfYear['zipcode'] == 10106]
dfYear[103370:103400]

        zipcode  agi_stub          n1
103370    10101         3  152.444444
103371    10101         4   85.750000
103372    10101         5   34.935185
103373    10101         6   42.875000
103374    10105         1  524.027778
103375    10105         6   20.643519
103376    10106         1   58.754630
103377    10106         3   23.819444
103378    10106         4   25.407407
103379    10106         6   22.231481
103380    10107         1  273.129630
103381    10107         2   36.523148
103382    10107         3   31.759259
103383    10107         4   30.171296
103384    10107         5   19.055556
103385    10107         6   25.407407
103386    10108         1  160.384259
103387    10108         2  158.796296
103388    10108         3  182.615741
103389    10108         4   73.046296
103390    10108         5   33.347222
103391    10108         6   28.583333
103392    10111         1   95.277778
103393    10111         2   34.935185
103394    10111         3   34.935185
103395    10111         4   19.055556
103396    10111         5   33.347222
103397    10111         6   74.634259
103398    10113         1  117.509259
103399    10113         2  103.217593

In [ ]:
agi = 6
a = 0
b = agi
count = 0

while a < dfYear['zipcode'].count():
    if(dfYear['agi_stub'][a:b].max() != agi):
        #print("Entered 1")
        #print("a = ", a)
        print(dfYear[a:b]) 
        badZip = dfYear['zipcode'][a]
        dfYear = dfYear.drop(dfYear[dfYear.zipcode == badZip].index)
        dfYear.reset_index(drop=True, inplace=True)
        #print("  ", badZip, "bad zipcode!")
        count += 1
        if(count%100 == 0):
            print("Count = ", count)
        #b += agi
    elif(dfYear['agi_stub'][b-1] != agi):
        #print("Entered 2")
        #print("a = ", a)

        #print("heres the head")
        #print(dfYear.head(10))
        #print("followed by a:b")
        print(dfYear[a:b]) 
        badZip = dfYear['zipcode'][a]
        dfYear = dfYear.drop(dfYear[dfYear.zipcode == badZip].index)
        dfYear.reset_index(drop=True, inplace=True)
        #print("  ", badZip, "bad zipcode!")
        count += 1
        if(count%100 == 0):
            print("Count = ", count)
        #b += agi
    elif(dfYear['agi_stub'][a:b].sum() != 21):    
        badZip = dfYear['zipcode'][a]
        print("  ", badZip, "bad zipcode!")
        dfYear = dfYear.drop(dfYear[dfYear.zipcode == badZip].index)
        dfYear.reset_index(drop=True, inplace=True)
        #print("  ", badZip, "bad zipcode!")
        count += 1
        if(count%100 == 0):
            print("Count = ", count)
    else:
        a += agi
        b += agi

In [25]:
dfYear['zipcode'].value_counts()

2047     6
29348    6
8750     6
53808    6
64053    6
39481    6
33338    6
45628    6
92807    6
80525    6
76431    6
21152    6
17058    6
19107    6
6825     6
54449    6
12972    6
15021    6
10927    6
53936    6
55985    6
58038    6
60087    6
33466    6
47805    6
80653    6
76559    6
31525    6
12844    6
4648     6
        ..
15059    6
4098     6
70006    6
43713    6
72055    6
94586    6
43457    6
45506    6
37318    6
39367    6
49612    6
10705    6
12754    6
14803    6
6615     6
29146    6
76273    6
96763    6
45634    6
64075    6
49740    6
2645     6
4694     6
31323    6
74352    6
76401    6
90744    6
84605    6
10106    4
10105    2
Name: zipcode, Length: 29715, dtype: int64

In [27]:
dfYear = dfYear.drop(dfYear[dfYear.zipcode == 10106].index)
dfYear.reset_index(drop=True, inplace=True)

In [28]:
dfYear['agi_stub'].value_counts()

6    29713
5    29713
4    29713
3    29713
2    29713
1    29713
Name: agi_stub, dtype: int64

In [29]:
dfYear.to_csv("FIX2007zip.csv", index=False)