In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("zipLatLon.csv")

In [3]:
df05 = pd.read_csv("FIX2005zip.csv")
df06 = pd.read_csv("FIX2006zip.csv") #1-7
df07 = pd.read_csv("FIX2007zip.csv") #1-7
df08 = pd.read_csv("FIX2008zip.csv") #1-7
df09 = pd.read_csv("FIX2009zip.csv") #1-7
df10 = pd.read_csv("FIX2010zip.csv")
#df.head(20)
df05.head()

   zipcode  agi_stub    n1
0    99501         1  1459
1    99501         2  1713
2    99501         3  1896
3    99501         4   839
4    99501         5   417

In [6]:
df12 = pd.read_csv("FIX2012zip.csv")
df07['agi_stub'].value_counts()

1    38496
3    37424
2    37165
4    36121
5    33385
6    30478
7    19612
Name: agi_stub, dtype: int64

In [7]:
def Multipl(x):
        return x['agi_stub']*x['n1']

In [11]:
df08['agi_stub'].value_counts()
df08['zipcode'][6]

99501

In [ ]:
df05['multiplied'] = df05.apply(Multipl, axis=1)
#totalCount = df05['agi_stub'].count()
#totalCount
#df05.head(60)

In [ ]:
#df05.count()
231006/6

In [ ]:
newDF = pd.DataFrame(index=range(38501),columns=['zipcode','avg_agi'])
#newDF.head()

In [ ]:
#newDF['avg_agi'] = (df05_2['new'][st:end].sum())/(df05_2['n1'][st:end].sum())

newDF['zipcode'] = list(df05['zipcode'][::6])
newDF.head()

In [ ]:
inde = 0
st = 0
end = 6
while st < 231006:
    try:
        newDF.loc[inde, 'avg_agi'] = df05['multiplied'][st:end].sum()/(df05['n1'][st:end].sum()) #this works to get avg AGI
        st += 6
        end += 6
        inde += 1
        
    except ZeroDivisionError:
        newDF.loc[inde, 'avg_agi'] = 0.0 
        st += 6
        end += 6
        inde += 1

In [ ]:
#newDF.tail(30)

In [ ]:
#result = pd.concat([df.set_index('zipcode'), newDF.set_index('zipcode')], axis=1, join='inner').reset_index()
#newDF.describe()
#df.describe()
#result = newDF.merge(df, on='zipcode', how='inner', suffixes=('_1', '_2'))

result = pd.merge(df, newDF, on='zipcode')

In [ ]:
#result2 = result.merge(newDF, on='avg_agi', how='inner')

result.head(40)
#newDF.head(40)

#newDF.loc[newDF['zipcode'] == 35004]

#result.to_csv("zips2005agi.csv", index=False)

In [ ]:
result.isnull().any()

In [ ]:
result['zipcode'].count()/6